@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>  
    The Main aim of this application is to provide safe<br />
    journey and with available discounts.<br />
    In This application You can register and provide details and can see<br />
    If your travelling from oe place another place in a car, if seats are available you can <br />
    register here and enter details with price and seats available.<br />
    And even another scenario is you can view that details if it is good you can contact via<br />
    Email and ask for further details.
</p>
<img src="~/Content/images/images%20(3).jpg" />