
@{
    ViewBag.Title = "Add_Details";
}


<p>
    <p>Click to here search the places where you need to go<br/>
    <a class="btn btn-primary" @Html.ActionLink("Search the available cars", "Search", "Car")<br /></a></p>
<p>
    If you are travelling alone you give your details<br />
    and put the price and seats with your mail id<br/>before you enter you to register<br/>
    click here to add<br/> 
    <a class="btn btn-primary" @Html.ActionLink("Create", "Create", "Car")<br /></a>
</p>
</p>
