@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article>
    <section class="contact">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>425.555.0100</span>
        </p>
        <p>
            <span class="label">After Hours:</span>
            <span>425.555.0199</span>
        </p>
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Person1:</span>
            <span>manglacars@gmail.com</span>
        </p>
        <p>
            <span class="label">Person2:</span>
            <span>banglacars@gmail.com</span>
        </p>
    </section>
</article>
<aside>
    <p>

        <img src="~/Content/images/images%20(2).jpg" />
    </p>
</aside>
