@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Share My Drive</h1>

    <img src="~/Content/images/c.jpg" width="1000" height="300"/>
    </div>>

<div class="row">
   
    <div class="col-md-4">
        
        <p>Click to here search the places where you need to go<br /><a class="btn btn-primary" @Html.ActionLink("Search the available cars", "Search", "Car")<br /></a></p>
    </div>
</div>